body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    min-height: 100px;
    margin: 0 0 15px 0;
    background: #262533;
    color: white;
}

div.logo-wrapper {
    margin: 10px;
}

img.logo {
    display: block;
    float: left;
    margin-right: 15px;
}

div.title-wrapper {
    float: left;
    margin-top: 20px;
}

span.title {
    display: block;
}

span.main-title {
    font-size: 1.4rem;
}

span.sub-title {
    font-size: 1.2rem;
}

@media (max-width: 575px) {
    span.main-title {
        font-size: 1.1rem;
    }
    
    span.sub-title {
        font-size: 0.9rem;
    }
}

nav {
    background: #1d1d28;
    width: 100%;
}

div.map-wrapper {
    width: 100%;
}

div#map {
    width: 100%;
    height: 80vh;
    min-height: 500px;
}

.form-group label {
    font-weight: bold;
}

a.remove {
    color: #FF0000;
    border-radius: 50%;
    border: 1px solid #FF0000;
    font-weight: bold;
    margin-left: 8px;
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 1.3;
    float: right;
}

span.required {
    color: #FF0000;
    font-weight: bold;
}

button[disabled] {
    cursor: not-allowed;
}

footer {
    min-height: 100px;
    margin: 15px 0 0 0;
    padding-top: 20px;
    background: #262533;
    color: white;
    text-align: center;
    font-style: italic;
}

footer p {
    width: 100%;
}